{%  extends 'main.twig'  %}

{%  block content %}
<section class="content">
    <div class="container">
        <div class="col-sm-12 text-center">
            <h1>Not found.</h1>
            <p>Sorry, there was a problem. Maybe try <a href="/" title="home">the home page</a>.</p>
        </div>
    </div>
</section>
{% endblock content %}
