{%  extends 'main.twig'  %}

{%  block content %}

<section class="content">
    <div class="container">
        <div class="col-sm-12">
            <h2>Contact Us</h2>
            <p><strong>Order Questions</strong>: info@untiethemind.com</p>
            <p><strong>Return Questions</strong>: returns@untiethemind.com</p>
            <p><strong>Artist Questions</strong>: info@untiethemind.com</p>
        </div>
    </div>
</section>

{% endblock content  %}
