{%  extends 'main.twig'  %}

{%  block content %}

<section class="content">
    <div class="container">
        <div class="col-sm-12">
            <h2>Contact Us</h2>
            <p>For Orders, returns, and all other questions</strong>: <a href="mailto:nathan@untiethemind.com" target="_blank" title="nathan@untiethemind.com">nathan@untiethemind.com</a></p>
        </div>
    </div>
</section>

{% endblock content  %}
