{%  extends 'main.twig'  %}

{%  block content %}

<section class="content">
    <div class="container">
        <div class="col-sm-12">
            <h3>Shipping Question</h3>
            <p>We ship out order as quickly as possible.</p>


            <h3>Return Policy</h3>
            <p>Returns are available for order that have not shipped. If your order included a digital download you will be eligible for a refund - (minus) the price of the digital download item.</p>
            <p>Once are order has shipped, there are no returns offered on Digital Downloads, Vinyl Records, and CDs unless damaged or defective. *See Exchanges</p>

            <h4>Endeavor 7 Inch Ep Pre Order Cards</h4>
            <p>There are no refunds available from Cognitive Dissonance on Endeavor 7 Inch EP Pre-Order Cards. If you purchased a Pre-Order card from Endeavor and need your money back, you will need to get in touch with the band. These pre-order sales were completely handled by the band and are being fulfilled by Cognitive Dissonance.</p>

            <h4>Exchanges</h4>
            <p>We only replace items if they are defective or damaged. If you need to exchange it for the same item, send us an email at <a href="mailto:returns@untiethemind.com" title="returns@untiethemind.com" target="_blank">returns@untiethemind.com</a> and we'll get you fixed up.</p>


            <h3>We're not heartless.</h3>
            <p>If you have a problem or concern with your order send us an email at orders@untiethemind.com. We'll work with you to make sure you're happy with your order.</p>
        </div>
    </div>
</section>

{% endblock content  %}
