{%  extends 'main.twig'  %}

{%  block content %}
<!-- <div class="full-marquee">
        <div class="marquee-title text-center">
            <h1>FEATURED</h1>
        </div>
</div> -->
<section class="content">
    <div class="container">
        <div class="col-sm-12">
            <h1 class="text-center">Releases</h1>
            <hr />
            <div class="row">
                <div class="col-sm-4">
                    <a href="https://untiethemind.bandcamp.com/album/7-inch"><img src="images/products/Endeavor_7Inch_iTunes.jpg"></a>
                    <h4>Endeavor - 7 Inch EP</h4>
                    <p>The debut 7" from Fredericksburg, Virginia's Endeavor revisits a more genuine, impassioned era of Hardcore. <br />Available in 2 color styles: Clear and Limited clear w/blue &amp; white vinyl.</p>
                    <iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=3267765409/size=small/bgcol=333333/linkcol=e99708/artwork=none/transparent=true/" seamless><a href="http://untiethemind.bandcamp.com/album/7-inch">7 Inch by Endeavor (now Reap and Sow)</a></iframe>
                    <h2>$3.00 <span class="pull-right"><a class="btn btn-main" href="https://untiethemind.bandcamp.com/album/7-inch" role="button">Buy Now</a></span></h2>
                </div>
                <div class="col-sm-4">
                    <a href="https://untiethemind.bandcamp.com/merch/endeavor-t-shirt-black"><img src="images/products/Endeavor_TS001-B.jpg"></a>
                    <h4>Endeavor T-shirt - Black</h4>
                    <p>Exclusive T-shirt Design for Fredericksburg, Virginia's Endeavor.<br /><br />100% Cotton Next Level T-Shirts.</p>
                    <h2>$8.00 <span class="pull-right"><a class="btn btn-main" href="https://untiethemind.bandcamp.com/merch/endeavor-t-shirt-black" role="button">Buy Now</a></span></h2>
                </div>
                <div class="col-sm-4">
                    <a href="https://untiethemind.bandcamp.com/merch/endeavor-t-shirt-white"><img src="images/products/Endeavor_TS001-W.jpg"></a>
                    <h4>Endeavor T-shirt - White</h4>
                    <p>Exclusive T-shirt Design for Fredericksburg, Virginia's Endeavor.<br /><br />100% Cotton Next Level T-Shirts.</p>
                    <h2>$8.00 <span class="pull-right"><a class="btn btn-main" href="https://untiethemind.bandcamp.com/merch/endeavor-t-shirt-white" role="button">Buy Now</a></span></h2>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
