<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Cognitive Dissonance</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <link rel="stylesheet" href="css/main.css" />

    </head>
    <body>
            <div class="container-fluid">
                <header>
                        <div class="logo">
                            <a href="/"><img id="site-logo" src="images/cognitive-dissonance_logo.png" alt="Cognitive Dissonance" /></a>
                        </div>
                </header>
            </div>
            <section class="main">
                <!-- <div class="full-marquee">
                        <div class="marquee-title text-center">
                            <h1>FEATURED</h1>
                        </div>
                </div> -->
                <section class="content">
                    <div class="container">
                        <div class="col-sm-12">
                            <h1 class="text-center">Releases</h1>
                            <hr />
                            <div class="row">
                                <div class="col-sm-4">
                                    <a href="https://untiethemind.bandcamp.com/album/7-inch"><img src="images/products/Endeavor_7Inch_iTunes.jpg"></a>
                                    <h4>Endeavor - 7 Inch EP</h4>
                                    <p>The debut 7" from Fredericksburg, Virginia's Endeavor revisits a more genuine, impassioned era of Hardcore. <br />Available in 2 color styles: Clear and Limited clear w/blue &amp; white vinyl.</p>
                                    <iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=3267765409/size=small/bgcol=333333/linkcol=e99708/artwork=none/transparent=true/" seamless><a href="http://untiethemind.bandcamp.com/album/7-inch">7 Inch by Endeavor (now Reap and Sow)</a></iframe>
                                    <h2>$4.00 <span class="pull-right"><a class="btn btn-main" href="https://untiethemind.bandcamp.com/album/7-inch" role="button">Buy Now</a></span></h2>
                                </div>
                                <div class="col-sm-4">
                                    <a href="https://untiethemind.bandcamp.com/merch/endeavor-t-shirt-black"><img src="images/products/Endeavor_TS001-B.jpg"></a>
                                    <h4>Endeavor T-shirt - Black</h4>
                                    <p>Exclusive T-shirt Design for Fredericksburg, Virginia's Endeavor.<br /><br />100% Cotton Next Level T-Shirts.</p>
                                    <h2>$10.00 <span class="pull-right"><a class="btn btn-main" href="https://untiethemind.bandcamp.com/merch/endeavor-t-shirt-black" role="button">Buy Now</a></span></h2>
                                </div>
                                <div class="col-sm-4">
                                    <a href="https://untiethemind.bandcamp.com/merch/endeavor-t-shirt-white"><img src="images/products/Endeavor_TS001-W.jpg"></a>
                                    <h4>Endeavor T-shirt - White</h4>
                                    <p>Exclusive T-shirt Design for Fredericksburg, Virginia's Endeavor.<br /><br />100% Cotton Next Level T-Shirts.</p>
                                    <h2>$10.00 <span class="pull-right"><a class="btn btn-main" href="https://untiethemind.bandcamp.com/merch/endeavor-t-shirt-white" role="button">Buy Now</a></span></h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="secondary-content">
                    <div class="container">
                        <hr />
                        <div class="col-sm-4">
                            <h4>About</h4>
                            <ul class="list-unstyled">
                                <li><a href="faq" title="Questions">Order/Shipping Questions</a></li>
                                <li><a href="contact">Contact Us</a></li>
                                <li><a href="http://download.untiethemind.com" title="Cognitive Dissonance Digital Downloads">Redeem a Digital Download</a></li>
                            </ul>
                        </div>

                        <div class="col-sm-4">
                            <h4>Links</h4>
                            <ul class="list-unstyled">
                               <li><a href="http://wearestaghorn.com/" target="_blank">Staghorn</a></li>
                           </ul>
                        </div>

                        <div class="col-sm-4">
                            <h4>Follow us</h4>
                           	<ul class="list-unstyled social">
                               	<li><a href="https://facebook.com/untiethemind" class="social-facebook" title="Facebook" target="_blank"><span class="icon-facebook"></span></a></li>
                               	<li><a href="https://twitter.com/untiethemind" class="social-twitter" title="Twitter" target="_blank"><span class="icon-twitter"></span></a></li>
                   	            <li><a href="http://instagram.com/untiethemind" class="social-instagram" title="Intagram" target="_blank"><span class="icon-instagram"></span></a></li>
                   	            <li><a href="https://www.youtube.com/untiethemind" class="social-youtube" title="YouTube" target="_blank"><span class="icon-youtube"></span></a></li>
                            </ul>
                        </div>
                    </section>
                </div>
            </section>
                <footer>
                    <div class="container">
                        <div class="col-sm-4 col-sm-offset-4 text-center">
                            <p>&copy; 2017 Cognitive Dissonance LLC</p>
                        </div>
                    </div>
                </footer>


        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/jquery_1.12.1.min.js"><\/script>')</script>
        <script src="js/app.js"></script>
    </body>

</html>
