html,
body {
    background-color: #0f0f0f;
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    height: 100%;
}
a {
    text-decoration: none;
    color: #c47830;
}

.wrapper {
	min-height: 100%;
	position:relative;
}


header {
    font-family: 'Oswald', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 18px;
    width: 100%;
    height: 150px;
    display: inline-block;
    text-transform: uppercase;
    -webkit-transition: height 0.3s;
   -moz-transition: height 0.3s;
    transition: height 0.3s;
    background-color: #2c3242;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
}

header.smaller {
    height: 75px;
    /*font-size: 16px;*/
}

header a {
    color: #fff;
}

header nav ul {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 20%;
    margin-right: 20%;
}

header nav ul li {
    display: block;
    padding: 30px 20px;
}

header.smaller nav ul li {
    -webkit-transition: all 0.3s;
   -moz-transition: all 0.3s;
    transition: all 0.3s;
    padding:5px 20px;
}

header nav ul li a {
    -webkit-transition: all 0.3s;
   -moz-transition: all 0.3s;
    transition: all 0.3s;
}

header nav ul li a:hover {
    padding-bottom: 5px;
    border-bottom: 2px solid #fff;
}

header nav ul li.left {
    float: left;
}

header nav ul li.right {
    float: right;
}

section.content {
    padding-top: 150px;
    min-height: 2500px;
    background-color: #0f0f0f;
    padding-bottom: 75px;
}

footer {
    width: 100%;
    position: absolute;
    height: 75px;
    bottom: 0;
    left:0;
    background-color: #2c3242;
}

.container {
    width: 75%;
    padding: 10px;
    margin: 0 auto;
}

.logo {
    display: block;
    position: relative;
    width: 200px;
    -webkit-transition: all 0.3s;
   -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin: 0 auto;
    padding: 5px;
}

.logo.smaller {
    width: 100px;
}


img#site-logo {
    display: inline-block;
    height: 100px;
    -webkit-transition: height 0.3s;
   -moz-transition: height 0.3s;
    transition: height 0.3s;
    position: absolute;
    margin: 0 auto;
}

.smaller img#site-logo {
    height: 50px;
}

.full-marquee {
    width: 100%;
    height: 400px;
    position: relative;
    background-color: #c47830;
}

.half-marquee {
        position: relative;
        width: 48%;
        float: left;
        height: 300px;
        /*border: 1px solid #fff;*/
}

.marquee-title {
    display: inline-block;
    position: relative;
    text-align: center;
    margin: 0 auto;
    color: #fff;
    /*border: 2px solid #fff;*/
}

.marquee-title h1  {
    font-family: 'Oswald', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-weight: 400;
    text-align: center;

    padding: 10px;
    margin: 0;
    font-size: 18px;
    text-transform: uppercase;
}

@media screen and (max-width: 768px) {

    .container {
        width: 95%;
        padding: 0 2.5%;
    }
    /*header nav ul li.left {
        float: none;
    }*/
    img#site-logo {
        position: relative;
    }

    header nav ul {
        margin: 0 auto;
    }
    header nav ul li {
        padding: 10px;
    }


    header nav ul li.right {
        float: left;
    }

}
